rules_version= '2';
service cloud.firestone {
	match /databases/{database}/documents {
		match /{document=**} {
			allow write: if request.auth.uid != null;
			allow read: if true;
		}
	}
}
